---
layout: default
---

<!-- row -->
<div class="container">
  <div class="row">
    <div class="col">
<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Editais -->
          {% if page.editais and site.announcements.enabled -%}
            <h2><a href="{{ '/editais/' | relative_url }}" style="color: inherit;">Editais ativos</a></h2>
            {%- include editais.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Últimas notícias</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          
        </article>

</div>

<!-- end 1st column -->
</div>
<div class="col-3">
  <!-- begin 2nd column -->

          <div style="text-align: center;">

              {% include figure.html path="assets/img/prof_pic.png" class="img-fluid" alt="AYTY Logo" -%}

              {% include figure.html path="assets/img/logos/logo-dcx.png" class="img-fluid" width="70%" alt="DCX Logo" url="https://ufpb.br/dcx" -%}

              {% include figure.html path="assets/img/logos/logo-ufpb.png" class="img-fluid" width="45%" alt="UFPB Logo" url="https://ufpb.br/"-%}
          </div>

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}


  <!-- end 2nd column -->
</div>

<!-- end row -->
</div>
</div>