---
layout: default
---
<!-- page.html -->
        <div class="post">
          {% if page.img -%}
          <div class="profile float-right">
               {%- assign profile_image_path = page.img -%}
               {%- assign profile_image_class = "img-fluid   z-depth-1 rounded-circle" -%}
  
                {% include figure.html
                path=profile_image_path
                class=profile_image_class
                alt=page.profile.image -%}
            </div>
            {%- endif %}
          <header class="post-header">
            <h1 class="post-title">{{ page.name }}</h1>
            <p class="post-description">{{ page.description }}</p>
            <!-- BEGIN ICONS-->

            <div class="container">
              <div class="row">
                {%- if page.home_page -%}
                <div class="home_page-icon">
                  <div class="member_icon" data-toggle="tooltip" title="Home Page">
                    <a href="{{ page.home_page }}"><i class="fa fa-home gh-icon member_icon"></i></a>
                  </div>
                </div>
                {%- endif %}
                {%- if page.linkedin -%}
                <div class="linkedin-icon">
                  <div class="member_icon" data-toggle="tooltip" title="LinkedIn">
                    <a href="{{ page.linkedin }}"><i class="fab fa-linkedin gh-icon"></i></a>
                  </div>
                </div>
                {%- endif %}
                {%- if page.github -%}
                <div class="github_icon">
                  <div class="member_icon" data-toggle="tooltip" title="Code Repository">
                    <a href="{{ page.github }}"><i class="fab fa-github gh-icon"></i></a>
                  </div>
                </div> 
                {%- endif %}
                {%- if page.instagram -%}
                <div class="instagram-icon">
                  <div class="member_icon" data-toggle="tooltip" title="Instagram">
                    <a href="{{ page.instagram }}"><i class="fab fa-instagram gh-icon"></i></a>
                  </div>
                </div>
                {%- endif %}
                {%- if page.twitter -%}
                <div class="twitter-icon">
                  <div  data-toggle="tooltip" title="Twitter">
                    <a href="{{ page.twitter }}"><i class="fab fa-twitter gh-icon"></i></a>
                  </div>
                </div>
                {%- endif %}
            </div>
          </div>

            <!-- END ICONS-->
          </header>

          <article>
      
            {{ content }}
          </article>

        </div>
